<div class="container border shadow mt-4">
  <h1 class="text d-flex justify-content-center"><%= @list.name %></h1>

  <ul>
    <% @list.movies.each do |movie| %>
    <li>
    <%= movie.rating %>
    <%= movie.title %>
    </li>
    <% end %>
  </ul>
<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, prompt: 'Choose a movie' %>
    <%= f.input :comment %>
    <%= f.submit class:"btn btn-success"%>
  <% end %>
  <%= link_to 'Back to the list', lists_path, class: 'btn btn-warning my-3' %>

</div>
